/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* regla fuentes: font-family: 'Montserrat', sans-serif;*/
/*PALETA COLORES
azul  rgb(41, 52, 98)
rojo  rgb(242, 76, 76)
naranja  rgb(236, 155, 59)
amarillo  rgb(247, 215, 22)
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/*------------------------------------------ INDEX -----------------------------------------*/
/*------------------------------------------ header ----------------------------------------*/


.encabezado{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 36%, rgba(18,16,16,1) 100%);
    position: fixed;
    width: 100vw;
    z-index: 4;
}



.pulse2 { /*animacion categorias*/
    transition: transform 200ms linear;
  }
  
.pulse2:hover {
    transform: translate(0px, 0px) scale(1.1, 1.1);
}



.logo{
    width: 105px;
    height: 105px;
    margin-top: 5px;
}

.girologo { /*giro logo*/
    transition: transform 1000ms ease-out 30ms;
  }
  
.girologo:hover {
    transform: rotate(360deg) translate(0px, 0px);
    }



header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.font-seccion{
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    color: rgb(242, 76, 76);
    height: 50px;
    margin-top: 15px;
}

.font-seccion:hover{
    border-bottom: solid 2px;
}

.pregFrecuentes{ /*para que quede centrado*/
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 110px;
    font-style: normal;
    font-weight: 600;
    color: rgb(242, 76, 76);
    height: 50px;
    margin-top: 15px;
}

.pregFrecuentes:hover{
    border-bottom: solid 2px;

}

header li{ /*alto header*/
    display: inline-block;
    height: 90px;
}

/*------------------------------------------ main index ----------------------------------------*/
.main-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding-bottom: 30px;
    width: 100vw;
}


.fondoprincipalindex{
    width: 100vw;
    position: relative;
    display: inline-block;
    text-align: center;
    height: 100vh;
}

.fraseprincipalindex{
    color: aliceblue;
    position: absolute;
    top: 44%;
    left: 23%;
    font-weight: 900;
    font-size: 35px;
    width: 60vw;
    text-shadow: 2.3px 2.3px rgb(194, 119, 28);
    font-style: italic;
    text-align: center;
}

.skinsstoreindex{
    color: rgb(236, 155, 59);
    text-shadow: 2.3px 2.3px rgb(255, 255, 255);
    border-bottom: double;
    padding-right: 15%;
    width: 60px;
}

.main-index div a { 
    position: absolute;
    top: 70%;
    left: 45%;
    border-radius: 7px;
    font-weight: 800;
    font-size: 25px;
    border-bottom: groove 3px;
}



.main-index section{ /*galeria categorias*/
    display: flex;
    width: 100vw;
    padding: 30px 0;
    justify-content: center;
    background-color: rgb(182, 145, 42);
    border-bottom: rgb(97, 84, 9) solid 4px;
    border-top: rgb(97, 84, 9) solid 4px;
}

.main-index section article{
    margin: 0 40px;
    text-align: center;
}

.galeriaindex:hover {
	animation: galeriaindex 1.5s linear infinite alternate ;
}

@keyframes galeriaindex{ /*animacion galeria*/
    0%{transform:translate(0)}
    10%{transform:translate(-2px,-2px)}
    20%{transform:translate(2px,-2px)}
    30%{transform:translate(-2px,2px)}
    40%{transform:translate(2px,2px)}
    50%{transform:translate(-2px,-2px)}
    60%{transform:translate(2px,-2px)}
    70%{transform:translate(-2px,2px)}
    80%{transform:translate(-2px,-2px)}
    90%{transform:translate(2px,-2px)}
    100%{transform:translate(0)}}

.main-index section article a img{
    width: 100px;
    height: 97px;
}

.main-index section article a p{
    text-decoration: underline rgb(189, 168, 51);
    color: white;
    font-weight: 500;
    font-style: italic;
}

.main-index section img{
    width: 70px;
    height: 70px;

}

.flechagaleriaindex{ /*animacion flechas*/
    padding: 20px 0;
}

.flechagaleriaindexizquierda{
    transition: transform 261ms ease-out;
  }
  
.flechagaleriaindexizquierda:hover {
    transform: translate(-31px, 0px) skew(0deg, 0deg);
  }

.flechagaleriaindexderecha {
    transition: transform 261ms ease-out;
  }
  
.flechagaleriaindexderecha:hover {
    transform: translate(31px, 0px);
  }




.abajoindex{
    max-width: 100vw;
    max-height: 87vh;
}

.abajoindex--imagenfondo{
    width: 100vw;
    height: 91vh;
    position: relative;
    left: 0;

}

.abajoindex--imagenak47{
    position: absolute;
    height: 50vh;
    width: 63vw;
    right: 80px;
    top: 1200px;
}
.abajoindex--imagenak47 {
    transition: transform 580ms ease-out;
  }
  
.abajoindex--imagenak47:hover {
    transform: rotate(11deg) translate(-76px, -74px);
  }


/*------------------------------------------ main contacto ----------------------------------------*/

.main-contacto{
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    background-color: rgb(30, 39, 58);
    width: 100vw;
}

.main-contacto h1{ /*texto principal*/
    text-align: center;
    font-size: 60px;
    color: rgba(242, 76, 76, 0.767);
}

.main-contacto p{
    text-align: center;
    font-weight: 500;
    font-size: 38px;
    font-style: oblique;
    color: rgb(245, 181, 102);
}

.main--redes{
    text-align: center;
    margin-top: 20px;
}

.main--redes a img{
    width: 60px;
    height: 60px;
    margin: 0 10px;
}



.main--contactodatos{ /*formulario*/
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main--contactodatos h3{
    font-size: 28px;
    font-weight: 600;
    width: 640px;
    border-bottom: 3px rgb(236, 155, 59) solid;
    color: aliceblue;
}

.main--contactodatos p{
    text-align: start;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    width: 640px;
    margin: 8px 0 15px 0;
}

.main--contactodatos form{
    display: flex;
    flex-direction: column;
}

.main--contactodatos form span{
    font-size: 22px;
    color: aliceblue;
    margin-bottom: 3px;
}

.main--contactonombre{
    margin-bottom: 20px;
    width: 250px;
    height: 25px;
    border: solid 1px;
    border-radius: 3px;
    background-color: rgb(212, 212, 212);
}

.main--contactoemail{
    margin-bottom: 20px;
    width: 400px;
    height: 25px;
    border: solid 1.5px;
    border-radius: 3px;
    background-color: rgb(212, 212, 212);
}

.main--contactoselect{
    margin-bottom: 20px;
    width: 128px;
    height: 25px;
    font-size: 17px;
    border: solid 1.5px;
    border-radius: 3px;
    background-color: rgb(212, 212, 212);
    font-weight: 500;
}

.main--contactotextarea{
    margin-bottom: 20px;
    resize: none;
    border: solid 1.5px;
    border-radius: 3px;
    background-color: rgb(212, 212, 212);
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
}

.main--contactoboton{
    margin-bottom: 20px;
    height: 25px;
    font-size: 18px;
    font-weight: 500;
    border: solid 1.5px;
    border-radius: 3px;
    background-color: rgb(236, 155, 59);
}

/*------------------------------------------ main pregfrecuentes ----------------------------------------*/


.main-pregfrecuentes{
    padding: 0 30px;
    background-color: rgb(30, 39, 58);
}

.pregfrecuentes {
    display: grid;
    padding-top: 140px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "pregfrecuentescompra pregfrecuentesimg1"
      "pregfrecuentesimg2 pregfrecuentestrade"
      "pregfrecuentesinconveniente pregfrecuentesimg3";
  }

.pregfrecuentes h3{ /*titulos*/
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
    color: aliceblue;
    background-image: url(../Recursos/body/preguntasfrecuentes/fondo5.jpg);
    padding: 10px 0 10px 10px;
}

.pregfrecuentes div ol{ /*estilo de listas*/
    padding-left: 20px;
}

.pregfrecuentes div ol li{
    list-style-type: disc;
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(248, 198, 123);
}

.pregfrecuentes div{ /*poder manejar imagenes*/
    display: flex;
    flex-direction: column;
}

.pregfrecuentescompra{
    grid-area:pregfrecuentescompra;
    max-width: 90%;
    margin-left: 40px;
}

.pregfrecuentesimg1{
    grid-area:pregfrecuentesimg1;
    width: 85%;
    margin-left: 40px;
}
  
.pregfrecuentesimg2{
    grid-area:pregfrecuentesimg2;
    width: 90%;
    margin-left: 30px;
}
  
.pregfrecuentestrade{
    grid-area:pregfrecuentestrade;
    max-width: 90%;
    margin-left: 40px;
}

.pregfrecuentestrade p{
    color: rgb(248, 198, 123);
    font-weight: 600;
    font-style: oblique;
}

.tradelink{
    color: aliceblue;
    font-weight: 500;
    text-decoration: none;
}

.pregfrecuentesinconveniente{
    grid-area:pregfrecuentesinconveniente;
    max-width: 90%;
    width: 90%;
    margin-left: 40px;
}

.pregfrecuentesinconveniente p{
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(248, 198, 123);
}

.pregfrecuentesimg3{
    grid-area:pregfrecuentesimg3;
    width: 84%;
    margin-left: 45px;
    margin-bottom: 30px;
}
  


.pregfrecuentes--vende{ /*vende*/
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.pregfrecuentes--vende h2{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
    color: aliceblue;
    background-image: url(../Recursos/body/preguntasfrecuentes/fondo5.jpg);
    padding: 10px 0 10px 10px;
}

.pregfrecuentes--vende h5{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    font-style: italic;
    color: rgb(236, 78, 50);
}

.pregfrecuentes--vende h3{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
    color: aliceblue;
    padding: 10px 0 10px 10px;
}

.pregfrecuentes--vende p{
    color: rgb(248, 198, 123);
}

.pregfrecuentes--vende div button{
    background-color: rgb(236, 155, 59);
    margin-top: 7px;
    border-radius: 5px;
}

.pregfrecuentes--vende div a{
    color: aliceblue;
    text-decoration: none;
    padding: 20px;
    font-weight: 600;
}

.pregfrecuentes--mediospago{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pregfrecuentes--mediospago p{
    color: aliceblue;
}

.pregfrecuentes--mediospago div img{
    width: 90px;
    margin: 10px;
}

/*------------------------------------------ main nosotros ----------------------------------------*/

.main-nosotros{
    background-color: #1e273a;
    display: flex;
    flex-direction: column;
}

.main-nosotros img{
    width: 100vw;
    margin-top: 90px;
    position: relative;
}

.main-nosotros h2{
    background-image: url(../Recursos/body/Nosotros/fondo6.jpg);
    padding: 3rem 5rem;
    color: cornsilk;
    font-style: italic;
    margin-top: 5px;
}

.nosotros--principal{
    display: flex;
}

.nosotros--principal img{
    margin-top: 0;
    padding: 1rem;
    padding-left: 0;
    width: 25vw;
    border-radius: 10px;
}

.nosotros--principal div h4{
    background-color: rgb(172, 44, 44);
    color: aliceblue;
    padding: 1rem 2rem;
    font-weight: 400;
    font-size: 18px;
    margin-top: 1rem;
    width: 45%;
    border-radius: 10px;
    margin-left: 1rem;
}

.nosotros--principal div p{
    padding: 1rem 2rem;
    color: aliceblue;
    font-size: 1.1rem;
}

/*PALETA COLORES
azul  rgb(41, 52, 98)
rojo  rgb(242, 76, 76)
naranja  rgb(236, 155, 59)
amarillo  rgb(247, 215, 22)
*/

.nosotros--experiencia{
    background-color: rgb(41, 52, 98);
    padding: 2rem 8rem;
    color: rgb(236, 155, 59);
    font-size: 20px;
}

.nostros--grafico{
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.nostros--grafico h4{
    margin: 2rem 1rem;
}

.nostros--grafico span{
    color: rgb(242, 76, 76);
}
/*------------------------------------------ footer ----------------------------------------*/

.footer-fondo{
    padding: 14px 18px;
    position: relative;
    background: rgb(2,0,36);
    width: 100vw;
    height: 100%;
    background: radial-gradient(circle, rgba(2,0,36,1) 36%, rgba(18,16,16,1) 100%);
}

.footer-division{
    display: flex;
    justify-content: space-between;
}

.footer--mediosPagos{
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    
}

.footer--mediosPagosImagenes{
    margin: 10px 0 0 3px;
}

.footer--mediosPagosImagenes img{
    margin-right: 10px;
}

footer img{
    height: 50px;
}

footer a{
    align-items: flex-end;
}

.footer--extra{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer--extra a{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 100;
    color: aliceblue;
    align-content: center;
    height: 30px;
}

.footer--extra a:hover{
    font-weight: 400;
    font-size: 15.6px;
}

.footer--extra a img{
    height: 21px;
    margin: 0 0 0 5px;
}

.footer--copyright{
    margin-top: 5px;
    color: rgb(134, 134, 134);
    font-size: 13px;
    font-style: oblique;
    font-weight: 500;
}