.main-index{ /*general*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #020202;
    width: 100vw;
}

.index--primercontenedor{
    display: flex;
    position: relative;
}

.index--video{
    width: 100vw;
}

.index--video2{ /*videooculto*/
    width: 100vw;
    display: none;
}

.index--video3{ /*videooculto*/
    width: 100vw;
    display: none;
}

.main-index div a { 
    position: absolute;
    top: 70%;
    left: 45%;
    border-radius: 7px;
    font-weight: 800;
    font-size: 130%;
    border-bottom: groove 3px;
}

.index--section{ /*galeria categorias productos*/
    display: flex;
    justify-content: space-around;
    border-radius: 100px;
    padding: 0 4.5vw;
    width: 93vw;
    background-color: rgb(182, 145, 42);
    border: rgb(97, 84, 9) solid 5px;
}

.index--section article img{
    height: 13vh;
}

.index--section article{
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
    margin: 20px 2vw;
}

.index--section article p{
    font-weight: 500;
    font-style: italic;
    color: $blanco;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.index--section2{ /*galeria categorias productos 2*/
    display: flex;
    justify-content: space-around;
    border-radius: 100px;
    padding: 0 4.5vw;
    width: 93vw;
    background-color: rgb(182, 145, 42);
    border: rgb(97, 84, 9) solid 5px;
}
.index--section2 div article img{
    height: 13vh;
}
.index--section2 div article{
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
    margin: 20px 2vw;
}
.index--section2 div article p{
    font-weight: 500;
    font-style: italic;
    color: $blanco;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}
.index-secction2-visibilidad{
    display: none;
    visibility: collapse;
    position: absolute;
}


.index--section3{ /*galeria categorias productos 3*/
    display: flex;
    justify-content: space-around;
    border-radius: 100px;
    padding: 0 4.5vw;
    width: 93vw;
    background-color: rgb(182, 145, 42);
    border: rgb(97, 84, 9) solid 5px;
}
.index--section3 div article img{
    height: 13vh;
}
.index--section3 div article{
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
    margin: 20px 2vw;
}
.index--section3 div article p{
    font-weight: 500;
    font-style: italic;
    color: $blanco;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}
.index-secction3-visibilidad{
    display: none;
    visibility: collapse;
    position: absolute;
}

.heartbeat:hover{ /*animacion de galeria categorias productos*/
	animation: heartbeat 1.5s ease-in-out infinite both;
}
@keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
}


// revisa nuestro catalogo
.abajoindex{
    display: flex;
    width: 100vw;
    position: relative;
}

.abajoindex--imagenfondo{
    height: 88vh;
    width: 100vw;
    left: 0;
}

.abajoindex--imagenfondo2{
    display: none;
    height: 88vh;
    width: 100vw;
    left: 0;
}
.abajoindex--imagenfondo3{
    display: none;
    height: 88vh;
    width: 100vw;
    left: 0;
}

.abajoindex--imagenak47{
    position: absolute;
    width: 61vw;
    left: 35%;
    top: 37%;
    z-index: 4;
}

.abajoindex--imagenak47 {
    transition: transform 580ms ease-out;
  }
.abajoindex--imagenak47:hover {
    transform: rotate(11deg) translate(-76px, -74px);
  }


@media (max-width: 1000px){
    .main-index div a { 
        left: 46%;
        font-weight: 700;
        font-size: 117%;
        border-bottom: groove 2.8px;
    }
    .main-index{
        padding-top: 4%;
    }
    .index--section{ /*galeria categorias*/
        border-radius: 100px;
        width: 90vw;
        border: rgb(97, 84, 9) solid 4px;
    }
    .index--section article img{
        height: 10vh;
    }
    .index--section article p{
        font-size: 14px;
        font-weight: 400;
        margin-top: 16px;
    }
}
@media (max-width: 900px){
    .main-index div a { 
        left: 45%;
        font-weight: 700;
        font-size: 108%;
        border-bottom: groove 2.8px;
    }
    .main-index{
        padding-top: 6%;
    }
}
@media (max-width: 800px){
    .main-index{
        padding-top: 8%;
    }
    .index--section{ /*galeria categorias*/
        border-radius: 90px;
        width: 88vw;
        border: rgb(97, 84, 9) solid 3.4px;
    }
    .index--section article img{
        height: 8vh;
    }
    .index--section article p{
        font-size: 12px;
        margin-top: 15px;
    }
}
@media (max-width: 750px){
    .index--video{
        display: none;
    }
    .index--video2{
        visibility: visible;
        display: block;
        padding: 0;
    }
    .main-index div a { 
        left: 42%;
        font-weight: 800;
        font-size: 112%;
    }
}
@media (max-width: 650px){
    .main-index div a { 
        left: 38%;
        font-weight: 700;
        font-size: 112%;
    }
    .index-secction1-visibilidad{
        display: none;
        visibility: collapse;
    }
    .index-secction2-visibilidad{
        display: flex;
        visibility: visible;
        position: relative;
    }
    .index--section2{
        border-radius: 90px;
        width: 84vw;
        border: rgb(97, 84, 9) solid 2.8px;
    }
    .index--section2 div article img{
        height: 8vh;
    }
    .index--section2 div article p{
        font-weight: 400;
        font-size: 12px;
    }
}
@media (max-width: 530px){
    .main-index{
        padding-top: 13%;
    }
    .index--video2{
        display: none;
    }
    .index--video3{
        visibility: visible;
        display: block;
        padding: 0;
    }
    .abajoindex--imagenfondo{
        display: none;
    }
    .abajoindex--imagenfondo2{
        visibility: visible;
        display: block;
    }
    .abajoindex--imagenak47{
        display: none;
    }
}
@media (max-width: 500px){
    .main-index div a { 
        left: 34%;
        font-size: 110%;
    }
}
@media (max-width: 450px){
    .main-index div a { 
        left: 32%;
        font-size: 108%;
        border-bottom: none;
    }
}
@media (max-width: 400px){
    .main-index div a { 
        left: 32%;
        font-size: 94%;
        font-weight: 600;
    }
    .abajoindex--imagenfondo2{
        display: none;
    }
    .abajoindex--imagenfondo3{
        visibility: visible;
        display: block;
    }
    .index-secction2-visibilidad{
        display: none;
        visibility: collapse;
    }
    .index-secction3-visibilidad{
        display: flex;
        visibility: visible;
        position: relative;
    }
    .index--section3{
        margin: 20px 0;
        border-radius: 70px;
        width: 85vw;
        border: rgb(97, 84, 9) solid 2px;
    }
    .index--section3 div article img{
        height: 6vh;
        width: 16vw;
    }
    .index--section3 div article p{
        font-weight: 300;
        font-size: 12px;
        margin-top: 10px;
    }
}