.main-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #020202;
    width: 100vw;
}

.index--primercontenedor{
    display: flex;
    position: relative;
}

.index--video{
    width: 100vw;
}

.index--video2{ /*videooculto*/
    width: 100vw;
    display: none;
}

.index--video3{
    width: 100vw;
    display: none;
}

.main-index div a { 
    position: absolute;
    top: 70%;
    left: 45%;
    border-radius: 7px;
    font-weight: 800;
    font-size: 130%;
    border-bottom: groove 3px;
}

.index--section{ /*galeria categorias*/
    display: flex;
    justify-content: space-around;
    border-radius: 100px;
    padding: 0 4.5vw;
    width: 93vw;
    background-color: rgb(182, 145, 42);
    border: rgb(97, 84, 9) solid 5px;
}

.index--section article img{
    height: 13vh;
}

.index--section article{
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
    margin: 20px 2vw;
}

.index--section article p{
    font-weight: 500;
    font-style: italic;
    color: $blanco;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.index--section2{
    display: flex;
    justify-content: space-around;
    border-radius: 100px;
    padding: 0 4.5vw;
    width: 93vw;
    background-color: rgb(182, 145, 42);
    border: rgb(97, 84, 9) solid 5px;
}
.index--section2 div article img{
    height: 13vh;
}
.index--section2 div article{
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
    margin: 20px 2vw;
}
.index--section2 div article p{
    font-weight: 500;
    font-style: italic;
    color: $blanco;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.index--section3{
    display: flex;
    justify-content: space-around;
    border-radius: 100px;
    padding: 0 4.5vw;
    width: 93vw;
    background-color: rgb(182, 145, 42);
    border: rgb(97, 84, 9) solid 5px;
}
.index--section3 div article img{
    height: 13vh;
}
.index--section3 div article{
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
    margin: 20px 2vw;
}
.index--section3 div article p{
    font-weight: 500;
    font-style: italic;
    color: $blanco;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

// revisa nuestro catalogo
.abajoindex{
    display: flex;
    width: 100vw;
    position: relative;
}

.abajoindex--imagenfondo{
    height: 88vh;
    width: 100vw;
    left: 0;
}

.abajoindex--imagenfondo2{
    display: none;
    height: 88vh;
    width: 100vw;
    left: 0;
}
.abajoindex--imagenfondo3{
    display: none;
    height: 88vh;
    width: 100vw;
    left: 0;
}

.abajoindex--imagenak47{
    position: absolute;
    width: 61vw;
    left: 35%;
    top: 37%;
    z-index: 4;
}
.abajoindex--imagenak47 {
    transition: transform 580ms ease-out;
  }
  
.abajoindex--imagenak47:hover {
    transform: rotate(11deg) translate(-76px, -74px);
  }


@media (max-width: 1000px){
    .main-index div a { 
        left: 46%;
        font-weight: 700;
        font-size: 117%;
        border-bottom: groove 2.8px;
    }
    .main-index{
        padding-top: 4%;
    }
}
@media (max-width: 900px){
    .main-index div a { 
        left: 45%;
        font-weight: 700;
        font-size: 108%;
        border-bottom: groove 2.8px;
    }
    .main-index{
        padding-top: 6%;
    }
}

@media (max-width: 800px){
    .main-index{
        padding-top: 8%;
    }
}
@media (max-width: 750px){
    .index--video{
        display: none;
    }
    .index--video2{
        visibility: visible;
        display: block;
        padding: 0;
    }
    .main-index div a { 
        left: 42%;
        font-weight: 800;
        font-size: 112%;
    }

}
@media (max-width: 650px){
    .main-index div a { 
        left: 38%;
        font-weight: 700;
        font-size: 112%;
    }
}
@media (max-width: 530px){
    .main-index{
        padding-top: 13%;
    }
    .index--video2{
        display: none;
    }
    .index--video3{
        visibility: visible;
        display: block;
        padding: 0;
    }
    .abajoindex--imagenfondo{
        display: none;
    }
    .abajoindex--imagenfondo2{
        visibility: visible;
        display: block;
    }
    .abajoindex--imagenak47{
        display: none;
    }
}
@media (max-width: 500px){
    .main-index div a { 
        left: 34%;
        font-size: 110%;
    }
}
@media (max-width: 450px){
    .main-index div a { 
        left: 32%;
        font-size: 108%;
        border-bottom: none;

    }
}
@media (max-width: 400px){
    .main-index div a { 
        left: 32%;
        font-size: 94%;
        font-weight: 600;
    }
    .abajoindex--imagenfondo2{
        display: none;
    }
    .abajoindex--imagenfondo3{
        visibility: visible;
        display: block;
    }
}