.main-contacto{
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    background-color: $fondo;
    width: 100vw;
}

.main-contacto h1{ /*texto principal*/
    text-align: center;
    font-size: 60px;
    color: $rojo;
}

.main-contacto p{
    text-align: center;
    font-weight: 500;
    font-size: 38px;
    font-style: oblique;
    color: rgb(245, 181, 102);
}

.main--redes{
    text-align: center;
    margin-top: 20px;
}

.main--redes a img{
    width: 60px;
    height: 60px;
    margin: 0 10px;
}



.main--contactodatos{ /*formulario*/
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main--contactodatos h3{
    font-size: 28px;
    font-weight: 600;
    width: 640px;
    border-bottom: 3px $naranja solid;
    color: $blanco;
}

.main--contactodatos p{
    text-align: start;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    width: 640px;
    margin: 8px 0 15px 0;
}

.main--contactodatos form{
    display: flex;
    flex-direction: column;
}

.main--contactodatos form span{
    font-size: 22px;
    color: $blanco;
    margin-bottom: 3px;
}

.main--contactonombre{
    margin-bottom: 20px;
    width: 250px;
    height: 25px;
    border: solid 1px;
    border-radius: 3px;
    background-color: $blanco;
}

.main--contactoemail{
    margin-bottom: 20px;
    width: 400px;
    height: 25px;
    border: solid 1.5px;
    border-radius: 3px;
    background-color: $blanco;
}

.main--contactoselect{
    margin-bottom: 20px;
    width: 128px;
    height: 25px;
    font-size: 17px;
    border: solid 1.5px;
    border-radius: 3px;
    background-color: $blanco;
    font-weight: 500;
}

.main--contactotextarea{
    margin-bottom: 20px;
    resize: none;
    border: solid 1.5px;
    border-radius: 3px;
    background-color: $blanco;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
}

.main--contactoboton{
    margin-bottom: 20px;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    border: solid 1.5px;
    border-radius: 3px;
    background-color: $naranja;
}
.apretar-boton {
    transition: border 300ms ease-out, border-radius 300ms ease-out;
  }
  .apretar-boton:hover {
    border: 2px solid rgb(209, 179, 27);
   border-radius: 10px;
}


@media (max-width: 1300px){
    .main-contacto h1{
        font-size: 50px;
    }
    .main-contacto p{
        font-size: 28px;
    }
    .main--redes a img{
        width: 50px;
        height: 50px;
    }
    .main--contactodatos h3{/*formulario*/
        font-size: 24px;
    }
    .main--contactodatos p{
        font-size: 18px;
    }
    .main--contactodatos form span{
        font-size: 18px;
    }
    .main--contactoselect{
        font-size: 16px;
    }
    .main--contactotextarea{
        height: 150px;
    }
    .main--contactoboton{
        font-size: 16px;
    }
}
@media (max-width: 1100px){
    .main-contacto h1{
        font-size: 40px;
    }
    .main-contacto p{
        font-size: 24px;
    }
    .main--redes a img{
        width: 45px;
        height: 45px;
    }
    .main--contactodatos h3{/*formulario*/
        font-size: 22px;
    }
    .main--contactodatos{
        padding-top: 60px;
    }
    .main--contactodatos p{
        font-size: 16px;
    }
    .main--contactotextarea{
        height: 130px;
    }
}
@media (max-width: 900px){
    .main-contacto h1{
        font-size: 35px;
    }
    .main--redes a img{
        width: 40px;
        height: 40px;
    }
    .main--contactodatos h3{/*formulario*/
        font-size: 20px;
        border-bottom: 2.5px $naranja solid;
    }
    .main--contactodatos{
        padding-top: 50px;
    }
    .main--contactodatos form span{
        font-size: 16px;
    }
    .main--contactoselect{
        font-size: 14px;
    }
    .main--contactoselect option{
        font-size: 14px;
    }
    .main--contactoboton{
        font-size: 14px;
    }
}
@media (max-width: 800px){
    .main-contacto h1{
        font-size: 32px;
    }
    .main-contacto p{
        font-size: 22px;
    }
    .main--redes a img{
        width: 40px;
        height: 40px;
    }
    .main--contactodatos h3{
        font-size: 20px;
        font-weight: 500;
        width: 500px;
    }
    .main--contactodatos p{
        width: 500px;
        font-size: 16px;
    }
    .main--contactodatos form{
        width: 500px;
    }
}
@media (max-width: 700px){
    .main-contacto h1{
        font-size: 28px;
    }
    .main-contacto p{
        font-size: 18px;
    }
    .main--redes a img{
        width: 38px;
        height: 38px;
    }
    .main--contactodatos h3{
        font-size: 18px;
        font-weight: 400;
        width: 400px;
    }
    .main--contactodatos p{
        width: 400px;
        font-size: 14px;
    }
    .main--contactodatos form span{
        font-size: 14px;
    }
    .main--contactodatos form{
        width: 400px;
    }
    .main--contactonombre{
        width: 200px;
    }
    .main--contactoemail{
        width: 300px;
    }
    .main--contactoselect{
        font-size: 12px;
        width: 110px;
    }
    .main--contactoselect option{
        font-size: 12px;
    }
}
@media (max-width: 600px){
    .main-contacto h1{
        font-size: 22px;
    }
    .main-contacto p{
        font-size: 16px;
    }
    .main--redes a img{
        width: 38px;
        height: 38px;
    }
    .main--contactodatos{
        padding-top: 40px;
    }
    .main--contactodatos h3{
        font-size: 16px;
        font-weight: 300;
        width: 350px;
        border-bottom: 2px $naranja solid;
    }
    .main--contactodatos p{
        width: 350px;
        font-size: 14px;
    }
    .main--contactodatos form{
        width: 350px;
    }
    .main--contactodatos form span{
        font-size: 12px;
    }
    .main--contactoboton{
        font-size: 12px;
    }
}
@media (max-width: 500px){
    .main-contacto h1{
        font-size: 20px;
    }
}
@media (max-width: 450px){
    .main-contacto h1{
        margin-left: 30px;
        width: 80vw;
    }
    .main-contacto p{
        font-size: 14px;
    }
    .main--redes a img{
        width: 32px;
        height: 32px;
    }
    .main--contactodatos{
        padding: 30px;
    }
    .main--contactodatos h3{
        font-size: 16px;
        font-weight: 300;
        width: 300px;
    }
    .main--contactodatos p{
        width: 300px;
        margin-top: 0;
        font-size: 12px;
    }
    .main--contactodatos form{
        width: 300px;
    }
    .main--contactoselect{
        font-size: 12px;
        width: 98px;
        height: 20px;
    }
    .main--contactoselect option{
        font-size: 12px;
    }
    .main--contactodatos form span{
        font-size: 12px;
    }
    .main--contactoboton{
        font-size: 12px;
        height: 20px;
    }
    .main--contactonombre{
        height: 20px;
    }
    .main--contactoemail{
        height: 20px;
    }
}
@media (max-width: 390px){
    .main-contacto h1{
        font-size: 19px;
        width: 80vw;
    }
    .main-contacto p{
        font-size: 12px;
    }
    .main--redes a img{
        width: 30px;
        height: 30px;
    }
    .main--contactodatos h3{
        font-size: 14px;
        border-bottom: 2px;
        font-weight: 300;
        width: 300px;
        border-bottom: 1px $naranja solid;
    }
}